<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC84-230zSDW08DZru45M_swRGRlO_PA68</string>
	<key>GCM_SENDER_ID</key>
	<string>832047121429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.wildlifebrowseapp</string>
	<key>PROJECT_ID</key>
	<string>bwrac-b4189</string>
	<key>STORAGE_BUCKET</key>
	<string>bwrac-b4189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832047121429:ios:a59c46762ccb69796bfa1c</string>
</dict>
</plist>